// font family
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// global setting
*{
 margin: 0;
 padding: 0;
 font-family:"Poppins", sans-serif;
 box-sizing: border-box;
 scroll-behavior: smooth;
 outline: none;
 list-style: none;
 text-decoration: none;
}
// variables
$bg-black-100:rgba(31, 31, 31 0.9);
$bg-white-100:#ddd;
$bg-white-50:#eff0f4;
$bg-white-25:#f5f5f5;
$bg-white-10:#f5f5f5;
$text-black-900:#000;
$text-black-700:rgb(37, 37, 37);
$text-black-600:rgb(172, 172, 172);
$text-black-400:rgba(221, 221, 221);
$text-black-300:#f5f5f5;
$shadow:0 5px 200px rgba(0,0,0,0.5);

// base
body{
 font-size: 16px;
 line-height: 1.5;

}
:before,:after{
  box-sizing: border-box;
}
img{
 width: 100%;
}
.container{
 max-width: 1140px;
 margin: auto;
}
.raw{
 display: flex;
 flex-wrap: wrap;
}
.titleText, h2{
 color: $text-black-900;
 font-size: 2em;
 font-weight: 300;
 span{
  color: $text-black-700;
  font-weight: 700;
   font-size: 1.5em;
 }
}
.title{
 width: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column   ;
}
// button style

// navigation bar
header{
   position: flex;
   top: 0;
   left: 0;
   width: 100%;
   padding: 40px  100px;
   z-index: 100000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: .5s;

   .logo{
    color:$text-black-700;
    font-weight: 700;
    font-size:2em;
    text-decoration:none;

   }
   .nav{
    position: relative
    display: flex;
    li{
     margin: 0 0 0 30px;
     a{
      color: $text-black-600;
      font-weight: 300;
     }
    }
   }
}



 //new start of service */
 
.service{
  padding:80px 0 80px;
  min-height:100vh;

  .container{

    .title{
      width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    }
    
    .menu{
      justify-content: center;
      align-items: center;
      padding: 80px 0 0;
      position: relative;
      display: grid;
      max-width:100%;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr) );
      
      &:hover{
        .row{
          .card{
               opacity: 0.2;
        }

        }
      }

      .row{
        background: #fff;
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        .card{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          position: relative;
          background: #f5f5f5;
          margin: 20px;
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
          transition: .5s;

          &:hover{
            opacity: 1;
          }

          .boxcard{

            width:340px;
            border: 15px solid #f5f5f5;
            box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
            transform: .5s;
            background-color:#f5f5f5;

            .imgBx{
              position: relative;
              width: 100%;
              height: 400px;

              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

              }

            }

            .text{

              padding: 15px 0 5px;
              display: flex;
              overflow: hidden;

              h3{
                font-weight: 400;
                color: #111; 

              }
              
              .label{

                #order{
                  position: relative;
                  cursor: pointer;
                  z-index: 1;
                  margin-left: 120px;
                  width: 40px;
                  color: #333;
                  font-size: 14px;
                  letter-spacing: 1px;
                  font-weight: 500;
                  border-radius: 15px;
                  background-color: #f5f5f5;
                  padding: 4px 25px;
                  box-shadow: 2px 2px 3px #bebebe,
                  -2px -2px 3px #fff;
                  transition:.5s ;

                }



              }

            }
            #check, #check2, #check3{
              display: none ;

              &:checked{

                ~{

                  contentBx{

                    .content{
                      
                  transform: translateX(0px);
                
  
                  }
  
                  &::before{
                    transform: scaleX(1);
                    transition: transform .5s ease-in-out;
                    transform-origin: left;
                    overflow: hidden;
  
  
                  }
                  }
                }
  
              }
             } 
           


             
.contentBx{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content{
    position: relative;
    z-index: 3;
    transform:translateX(-400px);
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0;
    margin: 0;


  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: scale(0) ;
    transition: transform .5s ease-in-out;
    transform-origin: left;
    overflow: hidden;
    z-index: 2;


  }

  .content{
    position: relative;
    z-index: 3;
    transition: .5s;
    transform: translateX(-400px);
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding:0;
    margin: 0;

    h2{
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: 5px;
      letter-spacing: 2px;
      font-weight:600;
    }

    .col10{
      font-size: .5em;
      font-weight: 300;
      padding-right: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition:.5s;

      h1{
        left: 0;
        width: 100%;
        font-weight: 400;

      }

      input{
        width: 100%;
        padding: 10px;
        background:#f5f5f5;
        color:#333;
        border: none;
        box-shadow: none;
        font-size: 14px;
        margin: 8px 0;
        letter-spacing: 1px;
        font-weight: 300;
        width: 300px;



      }
    }

    .col50{
      font-size: .5em;
      font-weight: 300;
      display: grid;
      grid-template-columns: 1fr;
      flex-direction: 1fr;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height:100%;
      background: #fff;
      transition: .5s;
      padding-right: 10px;
      left:0;
      transform: translateX(-2.5%);

      .select{

        select{
          width: 100%;
          padding: 10px;
          text-align: center;
          background: #f5f5f5;
          color: #333;
          box-shadow: none;
          font-size: 14px;
          margin: 8px;
          letter-spacing: 1px;
          font-weight: 300;
          width: 100%;
          border: none;




        }
      }

    }

    .col100{
      font-size: .5em;
      font-weight: 300;
      display: grid;
      grid-template-columns: 1fr;
      flex-direction: 1fr;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height:100%;
      background: #fff;
      transition: .5s;
      padding-right: 10px;
      left:0;
      transform: translateX(-2.5%);

      .select{

        select{
          width: 100%;
          padding: 10px;
          text-align: center;
          background: #f5f5f5;
          color: #333;
          box-shadow: none;
          font-size: 14px;
          margin: 8px;
          letter-spacing: 1px;
          font-weight: 300;
          width: 100%;
          border: none;




        }
      }

    }
    .end{
      width: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      label{
        justify-content: center;
        align-items: center;
        transform: .5s;
        width: 100%;
        height: 100%;

        a{
          position: relative;
          cursor: pointer;
          margin-left: 15px;
          z-index: 1;
          color: #fff;
          font-size: 14px;
          width: 100%;
          letter-spacing: 1px;
          font-weight: 500;
          border-radius:15px;
          padding: 4px 35px;
          background-color: rgb(197, 6, 6);
          box-shadow: 2px 2px 3px #bebebe, -2px -2px 3px #fff;
          transform:.5s ;


        }
        .button{
          position: relative;
          cursor: pointer;
          margin-left: 15px;
          z-index: 1;
          color: #fff;
          font-size: 14px;
          width: 75%;
          border: none;
          letter-spacing: 1px;
          font-weight: 500;
          border-radius:15px;
          padding: 4px 35px;
          background-color: rgb(24, 173, 16);
          box-shadow: 2px 2px 3px #bebebe, -2px -2px 3px #fff;
          transform:.5s ;

        }


  
      }

    }






  }

}






}


}


}



}
}
} 


        

